@media only screen and (max-width: 780px) {
    .home-title {
        font-size: 16px;
    }

    .home-img-container {
        display: flex;
        flex-direction: column;
        margin-left: 30%;
    }

    .home-img {
        max-width: 120px;
        max-height: 120px;
        margin: 10px;

    }

    .toggle-title {
        display: none;
    }
}


.home-main-box {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.home-title {
    font-weight: 300;
    font-style: italic;
    margin: 20px;
    padding: 30px;
    text-align: justify;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 28%, rgba(220, 220, 220, 1) 39%, rgba(223, 223, 223, 1) 50%, rgba(222, 222, 222, 1) 61%, rgba(235, 235, 235, 1) 72%, rgba(255, 255, 255, 1) 100%);

}

.home-img {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 200px;
    object-fit: cover;
    filter: drop-shadow(2px 2px 5px rgb(153, 148, 148));
    border-radius: 10px;
}

.home-img:hover {
    transform: scale(1.2);
    margin-bottom: 20px;
    transition: all 1000ms;
    margin: 30px;
}

.home-img-container {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.home-img-container Link {
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.toggle-title {

    margin: 10px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    text-shadow: 2px 2px 10px gray;
    opacity: 1;
    animation: fadeIn 1500ms ease-in-out;
    text-align: center;
}


a:link {
    text-decoration: none;
}