/* NewsCard.css */

.news-card {
  position: relative;
  font-family: Arial, sans-serif;
  /* border: 1px solid #ddd;
  border-radius: 8px; */
  padding: 20px;
  margin: 20px;
}

.news-card h2 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.article {
  width: 300px;
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  padding: 10px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.article:hover {
  transform: scale(1.05);
}

.article img {
  width: 100%;
  border-radius: 25px 25px 6px 6px;
  margin-bottom: 10px;
}

.article h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.article p {
  font-size: 14px;
  margin-bottom: 10px;
}

.article a {
  display: block;
  text-decoration: none;
  color: #0366d6;
  font-weight: bold;
}
