* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --main-color-Mint: #DBE8D8;
    --main-color-yGreen: #C8DF52;
    --main-color-Yellow: #FEDE00;
    --main-color-Green: #0A7029;
}

.navbar-menu {
    background-color: var(--main-color-Yellow);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 17vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    min-width: 150px;
    max-width: 170px;
}

.navbar-img:hover {
    transform: scale(1.1);
    box-shadow: -2px 5px 30px 5px var(--main-color-Mint);
    -webkit-box-shadow: -2px 8px 30px 5pxvar(var--main-color-Mint);
    -moz-box-shadow: -2px 8px 30px 5px var(--main-color-Mint);
    transition: all 500ms;
}

.navbar-img{
    width: 100px;
    background-color: #929292;
    padding: 20px;
    border-radius: 20%;
    position: relative;
    left: 20%;
}

.router-main {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 500px;
    margin-left: 15vw;
    top: 100px;

}